[submodule "tinc/tinc_src/"]
	path = tinc/tinc_src/
	url = https://github.com/dnetlab/tinc.git
    branch = 1.1
[submodule "tinc/tinc_src"]
	path = tinc/tinc_src
	url = https://github.com/dnetlab/tinc.git
