[Unit]
Description=DNet Daemon
After=network.target

[Service]
User=root
ExecStart=/opt/dnet/dnet-daemon -d 1 -c /opt/dnet

[Install]
WantedBy=multi-user.target